*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box{
  display: flex;
    justify-content: center;
    align-content: center;
    width: 1100px;
    height: 1135px;
    background-image: url(pexels-sharon-mccutcheon-1191639\ \(1\).jpg);
    background-size: 1100px 800px;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

.container {
  width: 900px;
  height: 700px;
  display: flex;
  margin-top: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.signup-Trai {
  width: 450px;
  height: 700px;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

.signup-Phai {
  position: relative;
  background-color: #fafbfb;
  width: 450px;
  height: 700px;
  justify-content: center;
  align-content: center;
}

.signup-Phai h3 {
  text-align: left;
  margin-top: 80px;
  margin-bottom: 40px;
}

.form-login{
  display: inline-block;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  margin-left: 68px;
}
.form-group {
  text-align: left;
    width: 300px;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 24px;
    color: #D7EDEA;
}
.form-input {
  background: transparent;
    border: 0;
    outline: 0;
    padding-bottom: 8px;;
    font-size: 14px;
}

.form-input::placeholder {
  color: #ccc;
}

.form-submit1 {
  background-color: #5d73af;
  border: 0;
  outline: 0;
  color: white;
  width: 260px;
  height: 30px;
  border-radius: 20px;
  margin-top: 62px;
}

.form-submit2 {
  background-color: #b36344;
  border: 0;
  outline: 0;
  color: white;
  width: 260px;
  height: 30px;
  border-radius: 20px;
  margin-top: 33px;
}

.form-submit3 {

  background-color: #2f922f;
  border: 0;
  outline: 0;
  color: rgb(204, 204, 204);
  width: 150px;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 80px;
}  

.form-submit1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form-submit2:hover {
  opacity: 0.8;
  cursor: pointer;
}


.form-submit3:hover {
  opacity: 0.8;
  cursor: pointer;
}
 
.signup-Trai form-submit3{
  justify-content: center;
  align-content: center;
  text-align: left;
}

.image1 img {
  width: 450px;
  height: 200px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0px;
}



.signup-Phai img{
  width: 300px;
  height: 200px;
  margin-bottom: 0;
  position: absolute;
  right: 0;

}

.login-trysome {
  font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.form-sighup {
  text-align: center;
  margin-top: 60px;
}

.form-terms {
  text-align: center;
  color: #ccc;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.spanRegister{
  font-size: 17px;
    margin-top: 50px;
    color: #a8a6a6;
}
 .HangTren{
  margin-top: 55px;
  margin-left: -60px;
  margin-bottom: -25px;
 }

 .HangDuoi{
   margin-right: -60px;
 }
span1{
  color: #f169da;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span2{
  color: #79d2ed;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}
span3{
  color: #0c9723;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}span4{
  color: #7a0abb;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}span5{
  color: #cb0a0a;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span6{
  color: #cb0a0a;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span7{
  color: #cfb41c;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span8{
  color: #e95e0e;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span9{
  color: #074602;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span10{
  color: #a30808;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}

span11{
  color: #870ccd;
  font-family: 'MuseoModerno', cursive;
  font-size: 55px;
}